@import "nord/src/sass/nord.scss";

html,
body {
  height: 100%;
  margin: 0;
  overflow-y: auto;
}

body {
  background-color: $nord0;
  color: $nord6;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  tab-size: 4;
}

hr {
  border-color: $nord3;
  width: 85%;
}

a {
  color: $nord7;
  text-decoration: none;
  border-radius: 0.25em;
  transition: background-color 0.2s ease-in-out 0s;
}

a:hover,
a:active,
a:focus {
  background-color: rgba($nord3, 0.8);
}

blockquote {
  border-left: .2em solid rgba($nord8, 0.6);
  padding-left: 1.5em;
  margin: 1em 0;
  color: $nord9;
}

ol,
ul {
  padding-left: 2em;
}

li {
  margin-top: .5em;
  margin-bottom: .5em;
}
li::marker {
  color: $nord3;
}

pre {
  display: block;
  padding: .5em 1em .5em 1em;
  background-color: $nord0;
  border-radius: .25em;
  border: 1px solid $nord2;
  color: $nord4;
  overflow-x: auto;
}

code {
  font-family: "Source Code Pro", "Courier New", Courier, monospace;
  font-weight: 500;
  padding-left: .25em;
  padding-right: .25em;
  background-color: $nord1;
  border-radius: .25em;
  display: inline-block;
}
pre code {
  padding: 0;
  background-color: transparent;
}
code .line {
  padding-right: 1em;
}

table {
  margin-left: auto;
  margin-right: auto;
  max-width: 95%;
}
table, tr, th, td {
  border: 1px solid $nord2;
}

table {
  border-collapse: collapse;
}

th, td {
  padding: .25em 0.5em;
}

th {
  background-color: $nord2;
}

tr:nth-child(even) {
  background-color: $nord1;
}

article {
  text-align: justify;
}

img {
  max-width: 95%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
